Look And Feel=System Default
Look And Feel=Look And Feel Default
Output Directory=C:\projects
Horizental View=false
Draw Arrow=true
Auto Adjust=true
Draw Balance=true
Coverage Technique=2
Simple Node=1
Selection Node=4
Start Node=9
Conditional Node=5
Loop Node=6
Break Node=8
Switch Node=7
Non Exec Node=2
Return Node=3
